

body { 
background: rgb(255, 228, 228);
 color: rgb(50; 50; 50);
font-family: Helvetica; 
font-size: 17px ; 
 }

 h1 {
  	color: black; 
 	font-family: courier;
 	font-size: 32px;
 }

 h2 { 
 	color: purple; 
 	font-size: 24px;
 	font-weight: lighter; 
 }

 a{
 	text-decoration: none;
 	color: red;

 }

 a:hover{color: green; 
}



.container {
	width: 700px;
	margin: 40px auto;
}
.card_white{
	background: rgba(238, 236, 239 );
	padding: 40px;
	box-shadow: 0px 10px 30px  rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	 border-radius: 50%;
}